<br/><br/>
<title>Inicio</title> 
<table border="0" width="100%">
	<tr align="center">
		<td><img src="logo_ssslp_prosperemos.jpg" alt="Servicios de Salud de S.L.P." width="215" align="center" /></td>
	</tr>
	<% if current_user %>
	<tr align="center">
		<td><h5>Usuario: <%= current_user.name %></h5></td>
	</tr>
	<tr align="center">
		<td> A&ntilde;o de creaci&oacute;n:</td>
	</tr>
	 <tr align="center">
		<td> 	                
			<% @periodos = Solicitud.find_by_sql ["select distinct extract(year from created_at)" + 
				       " ANO from solicituds order by ano"]			
			   @periodos.each do |periodo| %>
	                        <%=raw link_to periodo.ano.to_i.to_s , solicituds_path(ano:periodo.ano.to_i), class:"btn"  %> |
	                <% end %>
		</td>
	</tr>
	<tr align="center"> 
		<td><br/>
		<%= link_to "Cerrar sesión", logout_path, class:"btn btn-outline-danger" %>
		</td>
	</tr>

	<% else %>
		<tr align="center">
			<td><%=raw link_to "Ingresar al sistema", session_path, class:"btn btn-outline-secondary" %></td>
		</tr>
	<% end %>
</table>
